@page "/analysis"
@using System.Globalization

<MudStack Spacing="3">
    <InputForm @ref="_inputForm" />

    <MudStack AlignItems="AlignItems.Stretch"
              Row
              Wrap="Wrap.Wrap">
        <MudButton Color="_isReloadRequired ? Color.Primary : Color.Surface"
                   OnClick="Submit"
                   Variant="Variant.Filled">
            Рассчитать
        </MudButton>
        <MudNumericField @bind-Value="Decimals"
                         Culture="CultureInfo.InvariantCulture"
                         DebounceInterval="500"
                         HelperText="Кол-во знаков после запятой"
                         Label="Точность"
                         Max="12"
                         Min="1"
                         Variant="Variant.Outlined" />
        <VariantSelector OnVariantSelected="SetVariantValues" />
    </MudStack>

    @if (string.IsNullOrEmpty(_errorMessage) == false)
    {
        <MudAlert Severity="Severity.Error">@_errorMessage</MudAlert>
    }

    <GraphComponent @ref="_graph" />

    @if (_resultsAvailable && _analysisResult != null)
    {
        <MudCard>
            <MudCardHeader>
                <MudText Typo="Typo.h6">Передаточная функция системы</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudSimpleTable Bordered
                                Hover
                                Style="overflow-x: auto;">
                    <tbody>
                    <tr>
                        <td>@_calculateData?.b0.ToString($"F{Decimals}", CultureInfo.InvariantCulture)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@_calculateData?.a3.ToString($"F{Decimals}", CultureInfo.InvariantCulture)</td>
                        <td>@_calculateData?.a2.ToString($"F{Decimals}", CultureInfo.InvariantCulture)</td>
                        <td>@_calculateData?.a1.ToString($"F{Decimals}", CultureInfo.InvariantCulture)</td>
                        <td>@_calculateData?.a0.ToString($"F{Decimals}", CultureInfo.InvariantCulture)</td>
                    </tr>
                    </tbody>
                </MudSimpleTable>
            </MudCardContent>
        </MudCard>

        <MudCard>
            <MudCardHeader>
                <MudText Typo="Typo.h6">Анализ качества системы</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudText>
                    Время регулирования:
                    tp=@_analysisResult.Tps.ToString($"F{Decimals}") с.
                </MudText>

                <MudText>
                    Перерегулирование:
                    s=@_analysisResult.Overshoot.ToString($"F{Decimals}")%.
                </MudText>

                <MudText>
                    Установившееся значение:
                    h=@_analysisResult.Established.ToString($"F{Decimals}").
                </MudText>
            </MudCardContent>
        </MudCard>

        <MudCard>
            <MudCardHeader>
                <MudText Typo="Typo.h6">Справочные данные</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudSimpleTable Bordered
                                Hover
                                Style="overflow-x: auto;">
                    <thead>
                    <tr>
                        <th>y_max</th>
                        <th>t1</th>
                        <th>y1</th>
                        <th>t2</th>
                        <th>y2</th>
                        <th>сигма</th>
                        <th>t_p</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>@_analysisResult.YMax.ToString($"F{Decimals}")</td>
                        <td>@_analysisResult.T1.ToString($"F{Decimals}")</td>
                        <td>@_analysisResult.Y1.ToString($"F{Decimals}")</td>
                        <td>@_analysisResult.T2.ToString($"F{Decimals}")</td>
                        <td>@_analysisResult.Y2.ToString($"F{Decimals}")</td>
                        <td>@_analysisResult.Overshoot.ToString($"F{Decimals}")</td>
                        <td>@_analysisResult.Tps.ToString($"F{Decimals}")</td>
                    </tr>
                    </tbody>
                </MudSimpleTable>
            </MudCardContent>
        </MudCard>
    }
</MudStack>
