@page "/production-calculator/{loadDefaults:bool?}"
<MudText Typo="Typo.h5" Align="Align.Center" GutterBottom>Калькулятор производственной мощности</MudText>

<MudPaper Class="pa-4">
    <MudText Typo="Typo.h6" Align="Align.Center" GutterBottom>Основные данные</MudText>

    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudDatePicker AutoClose OpenTo="OpenTo.Month" FixDay="1" @bind-Date="_newMachineDate" Label="Дата введения новых станков" />
            <MudNumericField @bind-Value="_newMachineCount" Label="Количество введенных станков" />
            <MudButton OnClick="AddNewMachineDate" Color="Color.Primary" Class="mt-4">Добавить дату</MudButton>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudDatePicker AutoClose OpenTo="OpenTo.Month" FixDay="1" @bind-Date="_removedMachineDate" Label="Дата выбытия станков" />
            <MudNumericField @bind-Value="_removedMachineCount" Label="Количество выбывших станков" />
            <MudButton OnClick="AddRemovedMachineDate" Color="Color.Primary" Class="mt-4">Добавить дату</MudButton>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudNumericField @bind-Value="_initialMachines" Label="Количество станков на начало года" />
        </MudItem>

        <MudItem xs="12">
            <MudList T="string">
                @foreach (MachineEntry entry in _newMachineDates)
                {
                    <MudListItem>
                        @entry.Date.ToShortDateString() + @entry.Count станков
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => RemoveNewMachineDate(entry)" />
                    </MudListItem>
                }
            </MudList>
            <MudList T="string">
                @foreach (MachineEntry entry in _removedMachineDates)
                {
                    <MudListItem>
                        @entry.Date.ToShortDateString() - @entry.Count станков
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => RemoveRemovedMachineDate(entry)" />
                    </MudListItem>
                }
            </MudList>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudPaper Class="pa-4">
    <MudText Typo="Typo.h6" Align="Align.Center" GutterBottom>Параметры</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudNumericField @bind-Value="_workingDays" Label="Число рабочих дней в году" Format="N0" />
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudNumericField @bind-Value="_downtimePercentage" Label="Процент простоев на ремонт" Format="N0" />
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudNumericField @bind-Value="_productivityPerMachine" Label="Производительность 1 станка" HelperText="(деталей в час)" Format="N2" />
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudNumericField @bind-Value="_plannedProduction" Label="План выпуска продукции за год" Format="N2" />
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudNumericField @bind-Value="_shiftsCount" Label="Количество смен" Format="N0" />
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudNumericField @bind-Value="_shiftDuration" Label="Продолжительность смены" HelperText="(часов)" Format="N0" />
        </MudItem>
    </MudGrid>
</MudPaper>
<div id="result">

    <MudPaper Class="pa-4">
        <MudText Typo="Typo.h6" Align="Align.Center" GutterBottom>Результаты</MudText>
        <MudStack Row>
            <MudButton OnClick="Calculate" Color="Color.Primary" FullWidth>Рассчитать</MudButton>
            <MudButton OnClick="ClearValues" Color="Color.Secondary" FullWidth>Очистить</MudButton>
            <MudButton OnClick="SetDefaultValues" Color="Color.Info" FullWidth>Установить значения из задачи</MudButton>
        </MudStack>

        @if (_result != null)
        {
            <MudText Typo="Typo.h6">Производственная мощность: @_result.ProductionCapacity.ToString("N2") деталей</MudText>

            <MudText Typo="Typo.h6">Коэффициент использования мощности: @_result.UtilizationCoefficient.ToString($"F{Precision}")</MudText>

            <MudText Typo="Typo.h6" Class="mt-6">Шаги расчета:</MudText>

            <MudDivider Class="my-2" DividerType="DividerType.FullWidth" Style="height: 4px;" />

            foreach (string step in _calculationSteps)
            {
                if (char.IsDigit(step[0]))
                {
                    <MudText Typo="Typo.h6" GutterBottom>@step</MudText>

                    <MudDivider Class="my-2" DividerType="DividerType.FullWidth" Style="height: 4px;" />
                }
                else
                {
                    <MudText>@step</MudText>

                    <MudDivider Class="my-2" DividerType="DividerType.FullWidth" Light Style="height: 2px;" />
                }
            }
        }
    </MudPaper>
</div>
