@page "/production-calculator/{loadDefaults:bool?}"
<MudText Align="Align.Center"
         GutterBottom
         Typo="Typo.h5">
    Калькулятор производственной мощности
</MudText>

<MudPaper Class="pa-4">
    <MudText Align="Align.Center"
             GutterBottom
             Typo="Typo.h6">
        Основные данные
    </MudText>

    <MudGrid>
        <MudItem sm="6"
                 xs="12">
            <MudDatePicker AutoClose
                           @bind-Date="_newMachineDate"
                           FixDay="1"
                           Label="Дата введения новых станков"
                           OpenTo="OpenTo.Month" />
            <MudNumericField @bind-Value="_newMachineCount"
                             Label="Количество введенных станков" />
            <MudButton Class="mt-4"
                       Color="Color.Primary"
                       OnClick="AddNewMachineDate">
                Добавить дату
            </MudButton>
        </MudItem>

        <MudItem sm="6"
                 xs="12">
            <MudDatePicker AutoClose
                           @bind-Date="_removedMachineDate"
                           FixDay="1"
                           Label="Дата выбытия станков"
                           OpenTo="OpenTo.Month" />
            <MudNumericField @bind-Value="_removedMachineCount"
                             Label="Количество выбывших станков" />
            <MudButton Class="mt-4"
                       Color="Color.Primary"
                       OnClick="AddRemovedMachineDate">
                Добавить дату
            </MudButton>
        </MudItem>

        <MudItem sm="6"
                 xs="12">
            <MudNumericField @bind-Value="_initialMachines"
                             Label="Количество станков на начало года" />
        </MudItem>

        <MudItem xs="12">
            <MudList T="string">
                @foreach (MachineEntry entry in _newMachineDates)
                {
                    <MudListItem>
                        @entry.Date.ToShortDateString() + @entry.Count станков
                        <MudIconButton Color="Color.Error"
                                       Icon="@Icons.Material.Filled.Delete"
                                       OnClick="() => RemoveNewMachineDate(entry)" />
                    </MudListItem>
                }
            </MudList>
            <MudList T="string">
                @foreach (MachineEntry entry in _removedMachineDates)
                {
                    <MudListItem>
                        @entry.Date.ToShortDateString() - @entry.Count станков
                        <MudIconButton Color="Color.Error"
                                       Icon="@Icons.Material.Filled.Delete"
                                       OnClick="() => RemoveRemovedMachineDate(entry)" />
                    </MudListItem>
                }
            </MudList>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudPaper Class="pa-4">
    <MudText Align="Align.Center"
             GutterBottom
             Typo="Typo.h6">
        Параметры
    </MudText>
    <MudGrid>
        <MudItem sm="6"
                 xs="12">
            <MudNumericField @bind-Value="_workingDays"
                             Format="N0"
                             Label="Число рабочих дней в году" />
        </MudItem>
        <MudItem sm="6"
                 xs="12">
            <MudNumericField @bind-Value="_downtimePercentage"
                             Format="N0"
                             Label="Процент простоев на ремонт" />
        </MudItem>
        <MudItem sm="6"
                 xs="12">
            <MudNumericField @bind-Value="_productivityPerMachine"
                             Format="N2"
                             HelperText="(деталей в час)"
                             Label="Производительность 1 станка" />
        </MudItem>
        <MudItem sm="6"
                 xs="12">
            <MudNumericField @bind-Value="_plannedProduction"
                             Format="N2"
                             Label="План выпуска продукции за год" />
        </MudItem>
        <MudItem sm="6"
                 xs="12">
            <MudNumericField @bind-Value="_shiftsCount"
                             Format="N0"
                             Label="Количество смен" />
        </MudItem>
        <MudItem sm="6"
                 xs="12">
            <MudNumericField @bind-Value="_shiftDuration"
                             Format="N0"
                             HelperText="(часов)"
                             Label="Продолжительность смены" />
        </MudItem>
    </MudGrid>
</MudPaper>
<div id="result">

    <MudPaper Class="pa-4">
        <MudText Align="Align.Center"
                 GutterBottom
                 Typo="Typo.h6">
            Результаты
        </MudText>
        <MudStack Row>
            <MudButton Color="Color.Primary"
                       FullWidth
                       OnClick="Calculate">
                Рассчитать
            </MudButton>
            <MudButton Color="Color.Secondary"
                       FullWidth
                       OnClick="ClearValues">
                Очистить
            </MudButton>
            <MudButton Color="Color.Info"
                       FullWidth
                       OnClick="SetDefaultValues">
                Установить значения из задачи
            </MudButton>
        </MudStack>

        @if (_result != null)
        {
            <MudText Typo="Typo.h6">Производственная мощность: @_result.ProductionCapacity.ToString("N2") деталей</MudText>

            <MudText Typo="Typo.h6">Коэффициент использования мощности: @_result.UtilizationCoefficient.ToString($"F{Precision}")</MudText>

            <MudText Class="mt-6"
                     Typo="Typo.h6">
                Шаги расчета:
            </MudText>

            <MudDivider Class="my-2"
                        DividerType="DividerType.FullWidth"
                        Style="height: 4px;" />

            foreach (string step in _calculationSteps)
            {
                if (char.IsDigit(step[0]))
                {
                    <MudText GutterBottom
                             Typo="Typo.h6">
                        @step
                    </MudText>

                    <MudDivider Class="my-2"
                                DividerType="DividerType.FullWidth"
                                Style="height: 4px;" />
                }
                else
                {
                    <MudText>@step</MudText>

                    <MudDivider Class="my-2"
                                DividerType="DividerType.FullWidth"
                                Light
                                Style="height: 2px;" />
                }
            }
        }
    </MudPaper>
</div>
