<h3>Результат:</h3>

@if (CalculateData == null || CalculateResult == null)
{
    <p>Нет результатов</p>
    return;
}

<textarea readonly style="width: 90vw" type="text">
@CalculateResult.Result
</textarea>

<h3>Расчеты:</h3>
<p>B<sub>0</sub>: @CalculateData.b0.ToString($"F{Decimals}")</p>
<p>A<sub>0</sub>: @CalculateData.a0.ToString($"F{Decimals}")</p>
<p>A<sub>1</sub>: @CalculateData.a1.ToString($"F{Decimals}")</p>
<p>A<sub>2</sub>: @CalculateData.a2.ToString($"F{Decimals}")</p>
<p>A<sub>3</sub>: @CalculateData.a3.ToString($"F{Decimals}")</p>

<h4>Корни:</h4>

@foreach (Complex root in CalculateResult.Roots)
{
    <p>@root</p>
}

<hr />

@foreach (string root in CalculateResult.Roots.Select(complex => ComplexFormatter.FormatComplex(complex, Decimals)))
{
    <p>@root</p>
}

<h4>Производные:</h4>

@foreach (Complex derivative in CalculateResult.Derivatives)
{
    <p>@derivative</p>
}

<hr />

@foreach (string derivative in CalculateResult.Derivatives.Select(complex => ComplexFormatter.ToE(complex, Decimals)))
{
    <p>@derivative</p>
}

<h4>hBezEList:</h4>

@foreach (Complex h in CalculateResult.HBezEList)
{
    <p>@h</p>
}

<hr />

@foreach (string h in CalculateResult.HBezEList.Select(complex => ComplexFormatter.ToE(complex, Decimals)))
{
    <p>@h</p>
}

<h4>Значения EH:</h4>

@foreach (string e in CalculateResult.Eh)
{
    <p>@e</p>
}
