@using MoS.Web.Models
@if (Variants is { Count: > 0 })
{
    <button @onclick="ToggleVariantsTable">@(!_isTableExpanded ? "Развернуть" : "Свернуть")</button>

    @if (_isTableExpanded)
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th title="Вариант">В.</th>
                <th>K<sub>11</sub></th>
                <th>K<sub>21</sub></th>
                <th>K<sub>31</sub></th>
                <th>K<sub>41</sub></th>
                <th>K<sub>51</sub></th>
                <th>T<sub>31</sub></th>
                <th>T<sub>41</sub></th>
            </tr>
            </thead>
            <tbody>
            @foreach ((int key, VariantData? value) in Variants)
            {
                <tr>
                    <td>@key</td>
                    <td>@value.k11</td>
                    <td>@value.k21</td>
                    <td>@value.k31</td>
                    <td>@value.k41</td>
                    <td>@value.k51</td>
                    <td>@value.T31</td>
                    <td>@value.T41</td>
                </tr>
            }
            </tbody>
        </table>
    }
}
else
{
    <p>Нет загруженных вариантов.</p>
}
